<div class="sw-cms-el-config-moorl-parts-list-configurator">
    <sw-cms-mapping-field v-model:config="element.config.partsListConfigurator" value-types="string">
        <sw-entity-single-select
                :label="$tc('sw-cms.elements.moorl-parts-list-configurator.name')"
                v-model:value="element.config.partsListConfigurator.value"

                @update:value="onChangePartsListConfigurator"
                entity="moorl_pl"
        />
    </sw-cms-mapping-field>
</div>
