{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set creator = page.creator %}

{% block base_head %}
    {% sw_include '@Storefront/plugin/moorl-creator/layout/creator-meta.html.twig' %}
{% endblock %}

{% block base_main_inner %}
    <div class="container-main">
        {% sw_include '@Storefront/storefront/element/cms-element-creator-header.html.twig' %}

        <div class="container">
            {% block creator_page_other %}
                <div class="text-center h3">{{ "moorl-creator.productsOf"|trans }} {{ creator.translated.name }}</div>
            {% endblock %}

            {% sw_include '@Storefront/storefront/element/cms-element-creator-product-listing.html.twig' %}
        </div>
    </div>
{% endblock %}
