{% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
    type: "danger",
    content: content ?: "moorl-parts-list-configurator.calculatedPartsListError"|trans|sw_sanitize
} %}
<div style="display: none;">{{ exception.message }}</div>
