{% if logicalConfigurator %}
    {% block parts_list_logical_configurator %}
        {% if logicalConfigurator.groupTechnicalName == 'PARTS_LIST_LAYOUT' %}
            {% for element in logicalConfigurator.elements %}
                <div class="row">
                    <div class="col-2 product-detail-configurator-group-title">
                        {{ "moorl-parts-list-configurator.logical-configurator.properties.#{element}"|trans }}
                    </div>

                    <div class="col-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text">
                                {{ "moorl-parts-list-configurator.logical-configurator.properties.totalLength"|trans }}
                            </span>
                            <input
                                    class="form-control"
                                    type="number"
                                    name="{{ element }}_length"
                                    min="2500"
                                    value="2500"
                                    step="500"
                            />
                            <span class="input-group-text">mm</span>
                        </div>

                        {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/parts-list/index.html.twig' with {
                            items: accessoryList,
                            namePrefix: element,
                            options: {
                                variant: 'slider'
                            }
                        } %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endif %}
