.cms-element-moorl-parts-list-configurator {
  .product-detail-configurator-option-input + .product-detail-configurator-option-label {
    height: 120px;
  }

  .product-detail-configurator-option-input:checked + .product-detail-configurator-option-label {
    border: 3px solid #0042a0;
  }
}
