{% block sw_cms_create_wizard_page_type_options %}
    {% parent %}

    <div
            class="sw-cms-create-wizard__page-type"
            @click="onPageTypeSelect('parts_list_configurator_detail')"
    >
        <sw-icon name="regular-3d" size="24"/>
        <p>{{ $tc('moorl-parts-list-configurator.general.partsListConfigurator') }}</p>
    </div>
{% endblock %}
