{% set partsListConfigurator = page.partsListConfigurator %}

<div class="cms-element-moorl-parts-list-configurator">
    {% set config = {
        partsListUrl: path('frontend.moorl.parts.list.configurator.parts.list', {partsListConfiguratorId: partsListConfigurator.id}),
        propertyGroupConfig: page.calculator.getPropertyGroupConfig
    } %}

    {{ dump(partsListConfigurator.getFilters) }}

    <form
            action="{{ path('frontend.moorl.parts.list.configurator.parts.list', {partsListConfiguratorId: partsListConfigurator.id}) }}"
            data-moorl-parts-list-configurator="true"
            data-moorl-parts-list-configurator-options="{{ config|json_encode }}"
    >
        {% for filter in partsListConfigurator.getFilters %}
            {% sw_include "@MoorlPartsListConfigurator/plugin/moorl-parts-list-configurator/component/configurator.html.twig" with {
                configuratorSettings: filter.options.groupByPropertyGroups,
                initiator: filter.technicalName
            } %}
        {% endfor %}
    </form>

    <hr>

    <div id="partsList"></div>
</div>
