{% set fenceConfigurator = page.fenceConfigurator %}

<div class="cms-element-moorl-fence-configurator">
    {{ dump(page) }}

    <form data-moorl-fence-configurator="true" data-moorl-fence-configurator-options="{{ config|json_encode }}">
        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.options.groupByPropertyGroups,
            initiator: 'options'
        } %}

        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.postOptions.groupByPropertyGroups,
            initiator: 'postOptions'
        } %}

        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.logicalOptions.groupByPropertyGroups,
            initiator: 'logicalOptions'
        } %}
    </form>

    {{ dump(page.products) }}
</div>
