{% set fenceConfigurator = page.fenceConfigurator %}

<div class="cms-element-moorl-fence-configurator">
    {% set config = {
        partsListUrl: path('frontend.moorl.fence.configurator.parts.list', {fenceConfiguratorId: fenceConfigurator.id})
    } %}

    <form
            action="{{ path('frontend.moorl.fence.configurator.parts.list', {fenceConfiguratorId: fenceConfigurator.id}) }}"
            data-moorl-fence-configurator="true"
            data-moorl-fence-configurator-options="{{ config|json_encode }}"
    >
        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.options.groupByPropertyGroups,
            initiator: 'options'
        } %}

        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.postOptions.groupByPropertyGroups,
            initiator: 'postOptions'
        } %}

        {% sw_include "@MoorlFenceConfigurator/plugin/moorl-fence-configurator/component/configurator.html.twig" with {
            configuratorSettings: fenceConfigurator.logicalOptions.groupByPropertyGroups,
            initiator: 'logicalOptions'
        } %}
    </form>

    <hr>

    <div id="partsList"></div>
</div>
