{% set partsListConfigurator = page.partsListConfigurator %}
{% set config = {
    url: path('frontend.moorl.parts.list.configurator.detail', {partsListConfiguratorId: partsListConfigurator.id})
} %}

<div
        class="cms-element-moorl-parts-list-configurator"
        data-moorl-parts-list-configurator="true"
        data-moorl-parts-list-configurator-options="{{ config|json_encode }}"
>
    <form action="{{ path('frontend.moorl.parts.list.configurator.parts.list', {partsListConfiguratorId: partsListConfigurator.id}) }}">
        {% for filter in partsListConfigurator.getFilters %}
            {% if not filter.fixed %}
                {% sw_include "@MoorlPartsListConfigurator/plugin/moorl-parts-list-configurator/component/configurator.html.twig" with {
                    configuratorSettings: filter.options.groupByPropertyGroups,
                    logical: filter.logical,
                    identifier: filter.id,
                    accessoryList: page.partsList.filterByProductStreamIds(filter.productStreamIds)
                } %}
            {% endif %}
        {% endfor %}

        {% if accessoryList.count > 0 %}
            <div class="product-detail-configurator-group-title">
                {{ "moorl-parts-list-configurator.accessories"|trans }}
            </div>
        {% endif %}

        <div id="accessoryList">
            {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/product-parts-list/index.html.twig' with {
                items: accessoryList,
                options: {
                    variant: 'slider'
                }
            } %}
        </div>
    </form>

    <hr>

    <div id="partsList">
        {% sw_include '@MoorlFoundation/plugin/moorl-foundation/component/product-parts-list/index.html.twig' with {
            items: partsList,
            options: {
                variant: 'slider'
            }
        } %}
    </div>
</div>
