<div class="sw-cms-el-moorl-default">
    <div>
        {{ $tc('sw-cms.elements.moorl-fence-configurator.name') }}
    </div>

    <template v-if="fenceConfigurator">
        <div class="small">
            {{ fenceConfigurator.translated.name }}
        </div>

        <router-link
                class="sw-button"
                target="_blank"
                rel="noopener"
                :to="{ name: 'moorl.fence.configurator.detail', params: { id: fenceConfigurator.id } }"
        >
            {{ $tc('global.default.edit') }}
        </router-link>
    </template>

    <template v-else>
        <router-link
                class="sw-button"
                target="_blank"
                rel="noopener"
                :to="{ name: 'moorl.fence.configurator.list' }"
        >
            {{ $tc('global.default.add') }}
        </router-link>
    </template>
</div>
